---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p class="page-number">Page <%= page_number %> of <%= num_pages %></p>

  <% if paginate %>
    <ul class="pagenations">
    <% if next_page %>
      <li class="old-page"><%= link_to 'Old entry', next_page %></li>
    <% end %>
    <% if prev_page %>
      <li class="new-page"><%= link_to 'New entry', prev_page %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article class="entry">
    <h2><%= link_to article.title, article %></h2>
    <ul>
      <li class="date">
        <%= article.date.strftime('%Y.%m.%d') %>
      </li>
    </ul>
    <ul class="external-link">
      <li>
        <a class="twitter-share-button"
          href="https://twitter.com/share"
          data-url="http://hiropo.co.uk<%= article.url %>"
          data-via="funnythingz"
          data-text="<%= article.title %>">
          Tweet
        </a>
        <script type="text/javascript">
        window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
      </li>
      <!--li>
        <div class="fb-like" data-href="http://hiropo.co.uk<%= article.url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=300048090097231&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
      </li-->
      <li>
        <a href="http://hiropo.co.uk<%= article.url %>" class="hatena-bookmark-button" data-hatena-bookmark-url="http://hiropo.co.uk<%= article.url %>" data-hatena-bookmark-title="<%= article.title %>" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </li>
    </ul>
    <%= article.body %>
  </article>
<% end %>


<% if paginate %>
  <ul class="pagenations">
  <% if next_page %>
    <li class="old-page"><%= link_to 'Old entry', next_page %></li>
  <% end %>
  <% if prev_page %>
    <li class="new-page"><%= link_to 'New entry', prev_page %></li>
  <% end %>
  </ul>
<% end %>
