---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p class="page-number">Page <%= page_number %> of <%= num_pages %></p>

  <% if paginate %>
    <ul class="pagenations">
    <% if next_page %>
      <li class="old-page"><%= link_to 'Old entry', next_page %></li>
    <% end %>
    <% if prev_page %>
      <li class="new-page"><%= link_to 'New entry', prev_page %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article class="entry">
      <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
      <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none" data-text="&quot;<%= article.title %> - ひろぽっぽれす&quot;">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    <%= article.body %>
  </article>
<% end %>


<% if paginate %>
  <ul class="pagenations">
  <% if next_page %>
    <li class="old-page"><%= link_to 'Old entry', next_page %></li>
  <% end %>
  <% if prev_page %>
    <li class="new-page"><%= link_to 'New entry', prev_page %></li>
  <% end %>
  </ul>
<% end %>
